body{
    background-color: rgb(143, 176, 245);
}

.sistema{
    text-align: center;
    float: left;
    width: 25%;
}

.controladores{
    float: right;
    width: 70%;
}

.titulo1{
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.titulo2{
    text-align: center;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
}

.aire{
    float: left;
    width: 40%;
}

.persiana{
    float: left;
    margin-left: 50px;
    width: 40%;
}